@{
    ViewData["Title"] = "Home Page";
}
<div id="grid"></div>
<div id="vertical">
    <div id="middle-pane">
        <div id="horizontal" style="height: 100%; width: 100%;">
           @* <div id="left-pane" style="height: 100%;"></div>*@
            <div id="right-pane" >
                <div id="timeline" style="width: 100%; height: 100%; position: absolute; z-index: 1"></div>
            </div>
        </div>
    </div>
</div>
<div id="window" style="display:none;"></div>

<style>
    .dropdown :is(.dropdown-menu) {
        width: 140px;
    }

    .dropdown-toggle {
        white-space: nowrap;
    }

    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #0d6efd;
        --bs-btn-border-color: #0d6efd;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #0b5ed7;
        --bs-btn-hover-border-color: #0a58ca;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #0a58ca;
        --bs-btn-active-border-color: #0a53be;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #0d6efd;
        --bs-btn-disabled-border-color: #0d6efd;
    }

    .btn {
        padding: 8px 17px !important;
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
        --bs-btn-font-size: 1rem;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        --bs-btn-color: #212529;
        --bs-btn-bg: transparent;
        --bs-btn-border-width: 1px;
        --bs-btn-border-color: transparent;
        --bs-btn-border-radius: 0.375rem;
        --bs-btn-hover-border-color: transparent;
        --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
        --bs-btn-disabled-opacity: 0.65;
        --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
        display: inline-block;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        font-family: var(--bs-btn-font-family);
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--whitecolorCustom) !important;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: none;
        outline: none;
        border-radius: var(--bs-btn-border-radius);
        background-color: var(--bs-btn-bg);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.5em;
        position: absolute;
        vertical-align: 0.255em;
        right: 30px;
        transform: translate(20px, 10px);
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
        clear: both;
        font-weight: 400;
        color: var(--bs-dropdown-link-color);
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    .dropdown-menu li:hover {
        color: var(--lightorangeCustom);
        background-color: var(--lightgrayCustom);
    }

    .dropdown-menu li {
        padding: 8px 17px !important;
    }
    /*dfggggggggggg*/
    .dropdown {
        background-color: var(--blackheadercolorCustom) !important;
        color: var(--whitecolorCustom) !important;
        /*background: none padding-box rgb(255, 255, 255);*/
        display: block;
        border: 0px;
        margin: 10px;
        margin-left: 0;
        /*padding: 8px 17px;*/
        padding: 0;
        text-transform: none;
        appearance: none;
        position: relative;
        cursor: pointer;
        user-select: none;
        direction: ltr;
        overflow: hidden;
        text-align: left;
        color: rgb(0, 0, 0);
        font-family: Roboto, Arial, sans-serif;
        font-size: 18px;
        border-radius: 2px;
        box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
        font-weight: 500;
        width: 140px;
    }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

    .dropdown-menu {
        display: none;
        list-style: none;
    }
</style>

<style>

    .k-window-content a {
        color: #BBB;
    }

    .k-window-content p {
        margin-bottom: 1em;
    }

    .k-window {
        z-index: 100000;
    }
</style>

<script>

    $(document).ready(function () {

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: true, scrollable: false, size: "100%" }
            ]
        });
        var outerSplitter = $("#vertical").data("kendoSplitter");
        var browserWindow = $(window);
        var headerFooterHeight = $("#header").height();

        function resizeSplitter() {
            outerSplitter.wrapper.height(browserWindow.height() - headerFooterHeight);
            outerSplitter.resize();
        }

        resizeSplitter();
        browserWindow.resize(resizeSplitter);

        //$("#horizontal").kendoSplitter({
        //    panes: [
        //        { collapsible: true, resizable: true, scrollable: false, size: "210px", min: "290px", max: "500px", contentUrl: "@Url.Content("~/Home/Tracking")" },
        //        { collapsible: false, size: "100%", scrollable: true }
        //    ]
        //});

    });

</script>

<script>
    $(document).ready(function () {
        $("#timeline").kendoTimeline({
            dataSource: {
                transport: {
                    read: {
                        url: "../content/donut-chart.json",
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        fields: {
                            date: {
                                type: "date"
                            },
                        }
                    }
                }
            },
            orientation: "horizontal",
        });
    });
</script>
