@{
    ViewData["Title"] = "Home Page";
}
<div id="grid"></div>
<div id="vertical">
    <div id="middle-pane">
        <div id="horizontal" style="height: 100%; width: 100%;">
           @* <div id="left-pane" style="height: 100%;"></div>*@
            <div id="right-pane" >
                <div id="alarmGrid" style="width: 100%; height: 100%; position: absolute; z-index: 1"></div>
            </div>
        </div>
    </div>
</div>
<div id="window" style="display:none;"></div>

<style>
    .dropdown :is(.dropdown-menu) {
        width: 140px;
    }

    .dropdown-toggle {
        white-space: nowrap;
    }

    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #0d6efd;
        --bs-btn-border-color: #0d6efd;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #0b5ed7;
        --bs-btn-hover-border-color: #0a58ca;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #0a58ca;
        --bs-btn-active-border-color: #0a53be;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #0d6efd;
        --bs-btn-disabled-border-color: #0d6efd;
    }

    .btn {
        padding: 8px 17px !important;
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
        --bs-btn-font-size: 1rem;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        --bs-btn-color: #212529;
        --bs-btn-bg: transparent;
        --bs-btn-border-width: 1px;
        --bs-btn-border-color: transparent;
        --bs-btn-border-radius: 0.375rem;
        --bs-btn-hover-border-color: transparent;
        --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
        --bs-btn-disabled-opacity: 0.65;
        --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
        display: inline-block;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        font-family: var(--bs-btn-font-family);
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--whitecolorCustom) !important;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: none;
        outline: none;
        border-radius: var(--bs-btn-border-radius);
        background-color: var(--bs-btn-bg);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.5em;
        position: absolute;
        vertical-align: 0.255em;
        right: 30px;
        transform: translate(20px, 10px);
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
        clear: both;
        font-weight: 400;
        color: var(--bs-dropdown-link-color);
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    .dropdown-menu li:hover {
        color: var(--lightorangeCustom);
        background-color: var(--lightgrayCustom);
    }

    .dropdown-menu li {
        padding: 8px 17px !important;
    }
    /*dfggggggggggg*/
    .dropdown {
        background-color: var(--blackheadercolorCustom) !important;
        color: var(--whitecolorCustom) !important;
        /*background: none padding-box rgb(255, 255, 255);*/
        display: block;
        border: 0px;
        margin: 10px;
        margin-left: 0;
        /*padding: 8px 17px;*/
        padding: 0;
        text-transform: none;
        appearance: none;
        position: relative;
        cursor: pointer;
        user-select: none;
        direction: ltr;
        overflow: hidden;
        text-align: left;
        color: rgb(0, 0, 0);
        font-family: Roboto, Arial, sans-serif;
        font-size: 18px;
        border-radius: 2px;
        box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
        font-weight: 500;
        width: 140px;
    }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

    .dropdown-menu {
        display: none;
        list-style: none;
    }
</style>

<style>

    .k-window-content a {
        color: #BBB;
    }

    .k-window-content p {
        margin-bottom: 1em;
    }

    .k-window {
        z-index: 100000;
    }
</style>


<script>

    $(document).ready(function () {

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: true, scrollable: false, size: "100%" }
            ]
        });
        var outerSplitter = $("#vertical").data("kendoSplitter");
        var browserWindow = $(window);
        var headerFooterHeight = $("#header").height();

        function resizeSplitter() {
            outerSplitter.wrapper.height(browserWindow.height() - headerFooterHeight);
            outerSplitter.resize();
        }

        resizeSplitter();
        browserWindow.resize(resizeSplitter);

        //$("#horizontal").kendoSplitter({
        //    panes: [
        //        { collapsible: true, resizable: true, scrollable: false, size: "210px", min: "290px", max: "500px", contentUrl: "@Url.Content("~/Home/Tracking")" },
        //        { collapsible: false, size: "100%", scrollable: true }
        //    ]
        //});

    });

</script>

<script>
    IgetVehicleNumberHistory = async () => {
        let trackdataSource = new kendo.data.DataSource({
            transport: {
            read: {
                url: "/User/GetUser",
                datatype: "json",
            }
            },
            schema: {
            model: {
                id: "id",
                fields: {
                    id: { type: "number" },
                    name: { type: "string" },
                    face: { type: "string" },
                    club: { type: "string" },
                    number: { type: "number" },
                    rating: { type: "number" },
                    country: { type: "string" },
                    status: { type: "number" }
                }
            }
        },
            pageSize: 7
        });
       
       
            $("#alarmGrid").kendoGrid({
                dataSource: trackdataSource,
                //columnMenu: {
                //    filterable: false
                //},
                //editable: "incell",
            pageable: {
                messages: {
                    display: "{0}-{1} của {2} dòng",
                },
                pageSizes: [10, 20, 50],
            },
                sortable: true,
                //navigatable: true,
                resizable: true,
                reorderable: true,
                groupable: true,
                //filterable: true,
                dataBound: onDataBound,
                toolbar: ["excel", "pdf", "search"],
                columns: [{
                    field: "name",
                    title: "Tên cầu thủ",
                    headerAttributes: { style: "text-align: center; justify-content: center" },
                    attributes: { style: 'text-align: center;font-size: 16px' },
                    width: 105,
                },
                {
                    field: "face",
                    title: "Khuôn mặt",
                    headerAttributes: { style: "text-align: center; justify-content: center" },
                    template: "<div class='k-text-center'><img src='../content/face/#: data.name#.png' alt='#: data.name#' title='#: data.name#' width='50' /></div>",
                    width: 130
                },
                {
                    field: "number",
                    title: "Số áo",
                    headerAttributes: { style: "text-align: center; justify-content: center" },
                    attributes: { style: 'text-align: center;font-size: 16px' },
                    //template: "<span id='badge_#=club#' class='stat-icon custom-color-red' style='margin-right:5px'>#: data.number#</span>",
                    width: 110
                },
                {
                    field: "country",
                    title: "Quốc tịch",
                    headerAttributes: { style: "text-align: center; justify-content: center" },
                    attributes: { style: 'text-align: center' },
                    template: "<div class='k-text-center'><img src='../content/flag/#: data.country#.png' title='#: data.country#' width='50' /></div>",
                    width: 140
                },
                {
                    field: "rating",
                    title: "Kỹ năng",
                    headerAttributes: { style: "text-align: center; justify-content: center" },
                    template: "<input id='rating_#=rating#' data-bind='value: rating' class='rating'/>",
                    editable: returnFalse,
                    width: 180,
                },
            {
                field: "status",
                title: "Danh tiếng",
                headerAttributes: { style: "text-align: center; justify-content: center" },
                //template: "<span id='badge_#=club#' class='stat-icon custom-color-red' style='margin-right:5px'>#: data.club#</span>",
                width: 130
            },
                {
                    field: "club",
                    title: "Câu lạc bộ",
                    headerAttributes: { style: "text-align: center; justify-content: center" },
                    //template: "<span id='badge_#=club#' class='stat-icon custom-color-red' style='margin-right:5px'>#: data.club#</span>",
                    width: 170
                }
                ],
            });

    function onDataBound(e) {
        var grid = this;
        grid.table.find("tr").each(function () {
            debugger
            var dataItem = grid.dataItem(this);
            var themeColor = dataItem.Discontinued ? 'success' : 'error';
            var text = dataItem.Discontinued ? 'available' : 'not available';

                ShowCLBIcon(trackdataSource.data());
            
            $(this).find(".badgeTemplate").kendoBadge({
                themeColor: themeColor,
                text: text,
            });

            $(this).find(".rating").kendoRating({
                min: 1,
                max: 5,
                label: false,
                selection: "continuous"
            });

 

            kendo.bind($(this), dataItem);
        });
    }


        function ShowCLBIcon(data) {
            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                row = $("#alarmGrid").data("kendoGrid").tbody.find("tr[data-uid='" + item.uid + "']");

                let gcell2 = row.find("td").eq(2);
                let html2 = GetNumberColor(item);
                gcell2.html(html2);

                let gcell4 = row.find("td").eq(4);
                gcell4.css("text-align", "center");

                let gcell5 = row.find("td").eq(5);
                gcell5.css("text-align","center");
                let html5 = GetStatusDefine(item);
                gcell5.html(html5);

                let gcell6 = row.find("td").eq(6);
                let html6 = GetTypeStyle(item);
                gcell6.html(html6);
            }

           
           
        }

    function returnFalse() {
        return false;
    }

        function GetNumberColor(item) {
            let strhtml1 = "";
           let number = item.number;
            if (number == 7 || number == 10 || number == 11 || number == 9 || number == 20) {
                strhtml1 = "<span id='badge_" + item.name + "' class='stat-icon custom-color-red' style='margin-right:5px'>" + number + "</span>";
           }
            if (number == 8 || number == 17 || number == 34 || number == 13 || number == 16 || number == 22) {
                strhtml1 = "<span id='badge_" + item.name + "' class='stat-icon custom-color-green' style='margin-right:5px'>" + number + "</span>";
            }
            if (number == 1) {
                strhtml1 = "<span id='badge_" + item.name + "' class='stat-icon custom-color-yellow' style='margin-right:5px'>" + number + "</span>";
            }
            if (number == 2 || number == 3 || number == 4 || number == 5) {
                strhtml1 = "<span id='badge_" + item.name + "' class='stat-icon custom-color-blue' style='margin-right:5px'>" + number + "</span>";
            }
            return strhtml1;
        }

        function GetStatusDefine(item) {
            let strhtml = "";
            let clubs = item.status;
                let css = "";
                if (clubs === 0) {
                    css = "src='../content/club/normal.png'";
                }
            if (clubs === 1) {
                css = "src='../content/club/supers.png'";
            }
                if (clubs === 2) {
                    css = "src='../content/club/legend.png'";
                }
                strhtml += "<span style='margin-right:5px'><img class='k-text-center' " + css + " width='40' /></span>";
                //  strhtml += "<span " + css + " style='margin-right:5px'>" + clubs[i].trim() + "</span>";
            
            return strhtml;
        }

        function GetTypeStyle(item)
        {
            let strhtml = "";
            let clubs = item.club.trim().toString().split("|");
              for (let i = 0; i < clubs.length; i++) {
                let css = "";
                if (clubs[i].trim() === "Manchester United") {
                    css = "src='../content/club/mu.png'";
                }
                if (clubs[i].trim() === "None") {
                    css = "src='../content/club/none.png'";
                }
                if (clubs[i].trim() === "Manchester City") {
                    css = "src='../content/club/mc.png'";
                }
                if (clubs[i].trim() === "Tottenham") {
                    css = "src='../content/club/tot.png'";
                }
                if (clubs[i].trim() === "Liverpool") {
                    css = "src='../content/club/liv.png'";
                }
                if (clubs[i].trim() === "Real madrid") {
                    css = "src='../content/club/real.png'";
                }
                if (clubs[i].trim() === "Chelsea") {
                         css = "src='../content/club/chel.png'";
                }
                if (clubs[i].trim() === "Barcelona") {
                    css = "src='../content/club/barca.png'";
                }
                if (clubs[i].trim() === "Arsenal") {
                   css = "src='../content/club/ars.png'";
                }
                if (clubs[i].trim() === "Dortmund") {
                    css = "src='../content/club/dortmund.png'";
                }
                if (clubs[i].trim() === "AC Milan") {
                    css = "src='../content/club/ac.png'";
                }
                if (clubs[i].trim() === "Ajax") {
                    css = "src='../content/club/ajax.png'";
                }
                if (clubs[i].trim() === "Bayern") {
                    css = "src='../content/club/bayern.png'";
                }
                if (clubs[i].trim() === "PSG") {
                    css = "src='../content/club/psg.png'";
                }
                 if (clubs[i].trim() === "Napoli") {
                    css = "src='../content/club/napoli.png'";
                }
                if (clubs[i].trim() === "Atletico") {
                    css = "src='../content/club/atletico.png'";
                } 
                if (clubs[i].trim() === "Juventus") {
                    css = "src='../content/club/Juventus.png'";
                }
                if (clubs[i].trim() === "Aston") {
                    css = "src='../content/club/aston.png'";
                }
                if (clubs[i].trim() === "Inter") {
                    css = "src='../content/club/Inter.png'";
                }
                if (clubs[i].trim() === "Fiorentina") {
                    css = "src='../content/club/fiorentina.png'";
                }
                 if (clubs[i].trim() === "Benfica") {
                    css = "src='../content/club/benfica.png'";
                }
                strhtml += "<span  style='margin-right:5px'><img class='k-text-center' " + css + " width='40' /></span>";
               //  strhtml += "<span " + css + " style='margin-right:5px'>" + clubs[i].trim() + "</span>";
              }
            return strhtml;
        }

    }
    IgetVehicleNumberHistory();

</script>

