@{
    ViewBag.Title = "Tracking";
}

<div id="content" style="margin-top: 15px;">
    <div class="demo-section k-content">
        <div id="tabstrip">
            <div id="tabstrip-1">
             
            </div>
        </div>
    </div>

<style>

    #tabstrip p {
        margin: 0;
        padding: 0;
    }

    #tabstrip {
        border: 0px;
    }

        #tabstrip > .k-content {
            overflow: visible;
            margin: 0;
            padding: 0;
            border: 0;
        }

    .k-grid .k-grid-search {
        margin-left: auto;
        margin-right: 6px;
        width: 96%;
    }

    /* .k-grid tr td {
                            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
                        }*/
    .k-grouping-row td, .k-resize-handle-inner, td.k-group-cell {
        background-color: transparent;
    }

    .k-state-selected, .k-state-selected:hover {
    }

    .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-state-active {
        color: #299eff !important;
        border-bottom: 2px solid #299eff;
    }
</style>

</div>
